#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header {
  height: 16rem;
  background-image:linear-gradient(rgba(0, 0, 0, 0.719), rgba(0, 0, 0, 0.719)), url('./assets/img/Header.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

.light-theme {
  background-color: #ffffff;
  color: #000000;
} 

body.bg-dark .card {
  background-color: #1f2937;   /* gris oscuro */
  color: #f8f9fa;              /* texto claro */
  border-color: #2d3748;       /* borde discreto */
}

body.bg-dark .card .card-title,
body.bg-dark .card .card-text {
  color: #f8f9fa;
}

body.bg-dark .list-group-item {
  background-color: #1f2937;
  color: #f8f9fa;
  border-color: #2d3748;
}

body.bg-dark .card .btn-outline-info {
  color: #f8f9fa;
  border-color: #f8f9fa;
}

body.bg-dark .card .btn-outline-info:hover {
  background-color: #f8f9fa;
  color: #1f2937;
}

body {
  padding-top: 25px; /* Ajusta si tu Navbar es más alta o más baja */
}
